<ion-header>
  <ion-navbar>
    <table style="width:100%">
      <tr>
        <td>
          <p style="margin:0px;color: white;font-size: 15px">Change Location</p>
        </td>
        <td style="width: 100px">
        </td>
      </tr>
    </table>
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-card style="position: absolute;z-index: 999;">
        <table>
        	<tr>
        		<td style="padding-left: 10px;padding-top: 10px;width: 40px">
        			<img src="assets/imgs/a.png" style="width: 20px">
        		</td>
        		<td>
        			<div style="height: 5px"></div>
        			<span *ngIf="currtemp=='curr'&&clickmap!='loading'">Your location</span><b  *ngIf="clickmap=='loaded'&&clickmap!='loading'&&currtemp==undefined">Custom Location</b><b  *ngIf="clickmap=='loading'">Loading...</b>
        		</td>
        	</tr>
        </table>
        <table>
        	<tr>
        		<td style="padding-left: 10px;padding-bottom: 10px;padding-top: 5px;width: 40px">
        			<img src="assets/imgs/b.png" style="width: 20px">
        		</td>
        		<td>
        			<b>{{ navParams.data.data.data.name }}</b>
        			<div style="height: 10px"></div>
        		</td>
        	</tr>
        </table>

        <p style="text-align: center;margin-bottom: 15px">
            <span *ngIf="distance!=''&&distance!='1 m'"> Distance: {{distance}}</span> <span style="font-size: 10px;">(tap on map to change location)</span>
        </p>
      <div *ngIf="clickmap=='loading'">
        <div style="height: 1px"></div>
        <ion-spinner name="bubbles" style="margin-left: calc(50% - 10px)"></ion-spinner>
        <div style="height: 1px"></div>
      </div> 
    </ion-card> 

	   <div #map2 id="map2" style="width: 100%;height: 100%;"></div>


</ion-content>
