<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <table style="width:100%">
      <tr>
        <td>
          <p style="margin:0px;color: white;font-size: 15px">Parcel Delivery</p>
        </td>
        <td style="width: 100px">
          <div style="float: right;margin-right: 15px;font-size: 15px;color: white"> 
              <button ion-button icon-only (click)="showNotifications()">
              <ion-badge >100</ion-badge>
              <ion-icon name="notifications"></ion-icon>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </ion-navbar>
</ion-header>

<ion-content style="overflow-y: none">

  <ion-card style="position: absolute;z-index: 999;">
        <table style="width: 100%">
          <tr>
            <td style="padding-left: 10px;padding-top: 10px;width: 40px">
              <img src="assets/imgs/a.png" style="width: 20px;margin-right: 20px">
            </td>
            <td>
              <div style="height: 10px"></div>

              <b>Pick up: </b><span  *ngIf="a==undefined">(empty)</span>

              <span  *ngIf="a==0">Tap on map to locate</span>
              <span  *ngIf="a==1">Located</span>

            </td>
              <td>
              <div style="height: 10px"></div>
              <button style="height: 30px;background-color: white;border-style: solid;border-width: 1px;border-color: grey;color: grey;font-size: 12px;float: right !important;margin-right: 20px;" (click)="mapsfunc('a')"  *ngIf="a!=0&&b!=0" > change </button>
              <button style="height: 30px;background-color: white;border-style: solid;border-width: 1px;border-color: grey;color: grey;font-size: 12px;float: right !important;margin-right: 20px;" (click)="mapsfunc('a')"  *ngIf="a==0" > cancel </button>
            </td>
          </tr>
        </table>
        <table style="width: 100%">
          <tr>
            <td style="padding-left: 10px;padding-bottom: 10px;padding-top: 5px;width: 40px">
              <img src="assets/imgs/b.png" style="width: 20px">
            </td>
            <td valign="top">
              <div style="height: 10px"></div>
              <b>Drop off: </b><span  *ngIf="b==undefined">(empty)</span>
              <span  *ngIf="b==0">Tap on map to locate</span>
              <span  *ngIf="b==1">Located</span>
            </td>
            <td valign="top">
              <div style="height: 4px"></div>
              <button style="height: 30px;background-color: white;border-style: solid;border-width: 1px;border-color: grey;color: grey;font-size: 12px;float: right;margin-right: 20px" (click)="mapsfunc('b')" *ngIf="b!=0&&a!=0"  > change </button>

              <button style="height: 30px;background-color: white;border-style: solid;border-width: 1px;border-color: grey;color: grey;font-size: 12px;float: right !important;margin-right: 20px;" (click)="mapsfunc('b')"  *ngIf="b==0" > cancel </button>
              </td>
          </tr>
        </table>

        <p style="text-align: center;margin-bottom: 15px">
            <span *ngIf="distance!=''&&distance!='1 m'"> 
            <p style="margin-bottom: 0px">Delivery fee:
            <b style="font-size: 20px">&#8369;{{price}}</b>/{{distance}}

            </p><!-- <b>{{distance}}</b> --></span>
        </p>
      <div *ngIf="currtemp=='loading'">
        <div style="height: 1px"></div>
        <ion-spinner name="bubbles" style="margin-left: calc(50% - 10px);margin-bottom: 10px"></ion-spinner>
        <div style="height: 1px"></div>
      </div>

            <button class="btn btn-lg btn-primary btn-block" style="margin: 0px 20px 15px 20px;width: calc(100% - 40px)" *ngIf="distance!=''&&distance!='1 m'">
               Place Order
            </button>

    </ion-card> 

     <div #map2 id="map2" style="width: 100%;height: 100%;"></div>


</ion-content>
